# Arquivos de configuração
*.ini
*.cfg

# Arquivos compilados
*.pyc
*.pyo
*.pyd

# Arquivos de cache
__pycache__/

# Arquivos gerados
*.pyc
*.pyo
*.python-version

# Logs e dados temporários
*.log
*.bak
*.swp

# Virtual environments
.venv/
venv/
env/
ENV/

# Dependências
lib/
libs/
Library/
target/
dist/
build/
examples/

# Arquivos de ambiente
.env

# Arquivos de IDE
.vscode/
.idea/
*.code-workspace

# Arquivos de saída de teste
.coverage
.tox

# Outros
*.DS_Store
